---
import { hasJWT } from "../utils/auth";
// const cookies = Astro.request.headers.get("cookie");
const jwt = Astro.cookies.get("jwt");
if (!jwt) {
  return Astro.redirect("/signup");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>protected page, are you valid?</h1>
  </body>
</html>
